@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Code Pro";
}

html {
    scroll-behavior: smooth;
}

body {
    background: #FBFAF8;
}

.container {
    display: flex;
    font-size: 14px;
    height: 100vh;
    justify-content: center;
}

.navbar {
    z-index: 2;
    position: fixed;
    top: 5vh;
    padding: 0.5rem 0.5rem;
    background: #FCFAFA;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-link {
    list-style: none;
    height: 100%;
    padding: 0.5rem 1rem;
    font-weight: 600;
    cursor: pointer;
}

.navbar a {
    text-decoration: none;
    color: currentColor;
}

.nav-link:hover {
    background-color: #6E8387;
    color: #FCFAFA;
    border-radius: 0.5rem;
}

.header {
    z-index: 1;
    text-align: center;
    padding-left: 25vh;
    padding-right: 25vh;
}

.title {
    color: #333;
    margin: 25vh 0 2rem; /* Margin below the navbar and some spacing above */
    position: relative;
}

.title h1 {
    font-size: 72px;
    font-weight: 900;
}

.title h3 {
    font-size: 36px;
    font-weight: 700;
}

.content p {
    color: rgb(43, 43, 43);
    font-size: 18px;
    font-weight: 500;
}
