@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Code Pro";
}

html {
    scroll-behavior: smooth;
}

.section {
    padding: 2rem 0 4rem;
    height: 75vh;
}

.icons {
    position: fixed;
    top: 0;
    left: 0; /* 20 pixels from the left edge of the screen */
    padding: 20px 100px; /* Optional: additional padding for the link */
}

.icons a {
    color: #DCFE50;
    font-size: 32px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #232323;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #FBFEEB;
    text-decoration: none;
}

nav a  {
    position: relative;
    font-size: 20px;
    color: #FBFEEB;
    font-weight: 600;
    text-decoration: none;
    margin-left: 40px;
}

nav a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #DCFE50;
    transition: .3s;
}

nav a:hover::before {
    width: 100%;
}

section {
    min-height: 75vh;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background: #1A1A1A;
    color: #FBFEEB;
}

section div {
    margin: 75px;
}

section:nth-child(even) {
    background: #1f1f1f;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.svg-text-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.svg-text-wrapper svg {
    position: absolute;
    left: 0;
    width: 150px;
    height: auto;
    fill: #DCFE50;
}

.text-content {
    position: relative;
    margin-left: 200px;
    z-index: 1;
}

.text-content h1 {
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 600;
    color: #FBFEEB;
}

.text-content h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #C7CBB1;
}

.text-content p {
    font-size: 14px;
    font-weight: 500;
    color: #C7CBB1;
}

